html,body{
    width: 100%;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}
.km-btn {
    width: 100%;
    background-color: #36cac6 !important;
    border-radius: 1.3vw !important;
    border: none !important;
}
.km-btn-nobg-default {
    width: max-content;
    background: white;
	height: 6.8vw ;
	border-radius: 1.3vw ;
    border: solid 0.3vw #dbdbdb ;
    font-family: PingFang-SC-Medium;
	font-size: 3.2vw;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0vw;
	color: #dbdbdb;
}
.km-btn-boder-large {
    width: 22.9vw;
	height: 9.3vw;
	border-radius: 1.3vw;
    border: solid 0.1vw #0bccd1;
    font-size: 3.7vw;
    color: #dbdbdb;
    background: white;
}
.km-border, .km-border .van-cell{
    border-radius: 1.5vw;
	border: solid 0.1vw #0bccd1;
}
#app {
    overflow-x: hidden;
}
.public-loading {
    position: fixed !important;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
}
.recipe-content,.recipe-detail-content{
    background: #f7f8fa;
  }